

<h1>Gráficas Dobles</h1>
<hr>
<div class="row">
    <div class="col-md-6">
       Grafdica 1
       <app-grafica-barra [horizontal]="true"
                          [barChartData]="productoData"
                          [barChartLabels]="proveedoresLabels"
       > <!-- laves cuadradas de esta manera mando booleano y no string , si prop variables -->

      </app-grafica-barra>
    </div>

    <div class="col-md-6">
       grafica2
        <app-grafica-barra [barChartData]="proveedoresData"
                           [barChartLabels]="proveedoresLabels"

        >
        </app-grafica-barra>
    </div>
</div>

<!-- 334 , concepts : componnet perzonalizado + input padre hijo  -->
<!-- podemos decir primer grafica acntida de coches que tenemos por cada años
     y segunda grafica cada vendedor cuantos coches ha vendido  -->
